# ESP-IDF / CMake build outputs
**/build/
**/managed_components/
**/dependencies.lock

# Python cache
**/__pycache__/
*.py[cod]
*.class
.pytest_cache/

# Configuration and temp files
**/sdkconfig.old
**/sdkconfig.ci

# Binaries and object files
*.bin
*.elf
*.map
*.o
*.a
*.d

# IDEs & OS metadata
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json
.idea/
*.swp
*~
.DS_Store
Thumbs.db
